In [3]:
import pandas as ps
df_churn = ps.read_csv("churn.csv", encoding='latin1')

In [4]:
df_churn.shape

(5000, 21)

In [9]:
df_churn.columns

Index(['state', 'account_length', 'area_code', 'phone_number',
       'international_plan', 'voice_mail_plan', 'number_vmail_messages',
       'total_day_minutes', 'total_day_calls', 'total_day_charge',
       'total_eve_minutes', 'total_eve_calls', 'total_eve_charge',
       'total_night_minutes', 'total_night_calls', 'total_night_charge',
       'total_intl_minutes', 'total_intl_calls', 'total_intl_charge',
       'number_customer_service_calls', 'class'],
      dtype='object')

In [10]:
df_churn.head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
2,31,137,415,1616,0,0,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,0
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0

***1. Check berapa rata rata total call untuk day, eve, dan night dari seluruh populasi, dan tentukan quartile-nya, untuk pelanggan yang status jumlah call-nya kurang dari Q1, dikategorikan sebagai pelanggan yang memiliki kemungkinan churn***
<br>
<br>

In [14]:
df_churn[['total_day_calls','total_eve_calls','total_night_calls']].describe()

       total_day_calls  total_eve_calls  total_night_calls
count      5000.000000      5000.000000        5000.000000
mean        100.029400       100.191000          99.919200
std          19.831197        19.826496          19.958686
min           0.000000         0.000000           0.000000
25%          87.000000        87.000000          87.000000
50%         100.000000       100.000000         100.000000
75%         113.000000       114.000000         113.000000
max         165.000000       170.000000         175.000000

In [25]:
df_churn[df_churn.total_day_calls < 87]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
3,35,84,408,2510,1,0,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,0
7,24,147,415,116,1,0,0,157.0,79,26.69,...,94,8.76,211.8,96,9.53,7.1,6,1.92,0,0
9,49,141,415,163,1,1,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
14,12,62,415,2065,0,0,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
15,34,161,415,1268,0,0,0,332.9,67,56.59,...,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977,11,53,510,1544,1,0,0,145.0,80,24.65,...,82,19.41,169.4,109,7.62,8.9,5,2.40,0,0
4978,16,108,408,3227,0,0,0,170.3,48,28.95,...,146,15.95,204.0,84,9.18,16.1,4,4.35,3,0
4984,42,74,510,716,0,0,0,159.4,86,27.10,...,122,17.85,172.4,99,7.76,8.5,2,2.30,1,0
4992,26,83,415,1476,0,0,0,188.3,70,32.01,...,88,20.72,213.7,79,9.62,10.3,6,2.78,0,0
4998,7,109,510,3471,0,0,0,188.8,67,32.10,...,92,14.59,224.4,89,10.10,8.5,6,2.30,0,0

In [26]:
df_churn[df_churn.total_eve_calls < 87]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
8,18,117,408,425,0,0,0,184.5,97,31.37,...,80,29.89,215.8,90,9.71,8.7,4,2.35,1,0
10,15,65,415,100,0,0,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
12,12,168,408,1854,0,0,0,128.8,96,21.90,...,71,8.92,141.1,128,6.35,11.2,2,3.02,1,0
13,26,95,510,3509,0,0,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,12,62,415,2065,0,0,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4981,27,61,510,4257,0,0,0,7.2,97,1.22,...,78,18.85,174.5,94,7.85,12.0,4,3.24,1,0
4983,18,137,408,3793,0,0,0,151.8,90,25.81,...,68,19.52,171.8,122,7.73,10.8,5,2.92,2,0
4987,2,127,415,3645,0,1,27,157.6,107,26.79,...,49,23.85,75.1,77,3.38,8.0,4,2.16,1,0
4993,49,73,408,4467,0,0,0,177.9,89,30.24,...,82,11.15,186.2,89,8.38,11.5,6,3.11,3,0
4996,49,152,415,394,0,0,0,184.2,90,31.31,...,73,21.83,213.6,113,9.61,14.7,2,3.97,3,1

In [27]:
df_churn[df_churn.total_night_calls < 87]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
16,13,85,408,1218,0,1,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,0
19,43,73,415,2374,0,0,0,224.4,90,38.15,...,88,13.56,192.8,74,8.68,13.0,2,3.51,1,0
21,5,77,408,3452,0,0,0,62.4,89,10.61,...,121,14.44,209.6,64,9.43,5.7,6,1.54,5,1
22,3,130,415,1618,0,0,0,183.0,112,31.11,...,99,6.20,181.8,78,8.18,9.5,19,2.57,0,0
27,26,54,408,4803,0,0,0,134.3,73,22.83,...,100,13.22,102.1,68,4.59,14.7,4,3.97,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4978,16,108,408,3227,0,0,0,170.3,48,28.95,...,146,15.95,204.0,84,9.18,16.1,4,4.35,3,0
4987,2,127,415,3645,0,1,27,157.6,107,26.79,...,49,23.85,75.1,77,3.38,8.0,4,2.16,1,0
4989,23,150,408,4217,0,0,0,170.0,115,28.90,...,138,13.83,267.2,77,12.02,8.3,2,2.24,0,0
4991,3,97,510,4367,0,0,0,252.6,89,42.94,...,91,28.93,256.5,67,11.54,8.8,5,2.38,1,1
4992,26,83,415,1476,0,0,0,188.3,70,32.01,...,88,20.72,213.7,79,9.62,10.3,6,2.78,0,0

***2. Check summary statistik berdasarkan total jumlah voice mail message***

In [28]:
df_churn['number_vmail_messages'].describe()

count    5000.000000
mean        7.755200
std        13.546393
min         0.000000
25%         0.000000
50%         0.000000
75%        17.000000
max        52.000000
Name: number_vmail_messages, dtype: float64

In [31]:
df_churn[df_churn.number_vmail_messages > 17]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
0,16,128,415,2845,0,1,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,0
1,35,107,415,2301,0,1,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,0
6,19,121,510,1516,0,1,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
9,49,141,415,163,1,1,37,258.6,84,43.96,...,111,18.87,326.4,97,14.69,11.2,5,3.02,0,0
16,13,85,408,1218,0,1,27,196.4,139,33.39,...,90,23.88,89.3,75,4.02,13.8,4,3.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4971,11,128,510,4339,0,1,28,115.4,96,19.62,...,94,15.76,209.3,69,9.42,17.7,4,4.78,0,0
4985,27,118,510,897,0,1,31,226.6,99,38.52,...,136,14.02,189.3,120,8.52,10.2,5,2.75,3,0
4987,2,127,415,3645,0,1,27,157.6,107,26.79,...,49,23.85,75.1,77,3.38,8.0,4,2.16,1,0
4995,11,50,408,2000,0,1,40,235.7,127,40.07,...,126,18.96,297.5,116,13.39,9.9,5,2.67,2,0
4999,46,86,415,2412,0,1,34,129.4,102,22.00,...,104,22.70,154.8,100,6.97,9.3,16,2.51,0,0

***3.  Check Summary statistik berdasarkan number_customer_service_calls***

In [32]:
df_churn['number_customer_service_calls'].describe()

count    5000.000000
mean        1.570400
std         1.306363
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         9.000000
Name: number_customer_service_calls, dtype: float64

In [34]:
df_churn[df_churn.number_customer_service_calls > 2]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
4,36,75,415,155,1,0,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,0
6,19,121,510,1516,0,1,24,218.2,88,37.09,...,108,29.62,212.6,118,9.57,7.5,7,2.03,3,0
10,15,65,415,100,0,0,0,129.1,137,21.95,...,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1
13,26,95,510,3509,0,0,0,156.6,88,26.62,...,75,21.05,192.3,115,8.65,12.3,5,3.32,3,0
14,12,62,415,2065,0,0,0,120.7,70,20.52,...,76,26.11,203.0,99,9.14,13.1,6,3.54,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4982,43,86,408,1759,0,0,0,181.1,124,30.79,...,105,19.51,122.2,91,5.50,5.6,6,1.51,5,0
4985,27,118,510,897,0,1,31,226.6,99,38.52,...,136,14.02,189.3,120,8.52,10.2,5,2.75,3,0
4986,35,125,415,1917,0,0,0,214.7,115,36.50,...,94,22.15,266.3,123,11.98,7.4,6,2.00,3,0
4993,49,73,408,4467,0,0,0,177.9,89,30.24,...,82,11.15,186.2,89,8.38,11.5,6,3.11,3,0
4996,49,152,415,394,0,0,0,184.2,90,31.31,...,73,21.83,213.6,113,9.61,14.7,2,3.97,3,1

***4.  Tentukan korelasi, antara variabel total call day eve night, dengan voice mail dan jumlah call ke customer service, mana yang memiliki korelasi yang lebih kuat***

In [36]:
df_churn[['number_customer_service_calls','number_vmail_messages','total_day_calls','total_eve_calls','total_night_calls']].corr(method="pearson")

,number_customer_service_calls,number_vmail_messages,total_day_calls,total_eve_calls,total_night_calls
number_customer_service_calls,1.000000,-0.007086,-0.010739,0.006235,-0.008283
number_vmail_messages,-0.007086,1.000000,0.000883,-0.003954,0.002676
total_day_calls,-0.010739,0.000883,1.000000,0.003754,-0.008308
total_eve_calls,0.006235,-0.003954,0.003754,1.000000,-0.013682
total_night_calls,-0.008283,0.002676,-0.008308,-0.013682,1.000000

***5. Tentukan summary statistik dari tiga variable voice mail number, total day calls dan total night calls***

In [39]:
df_churn[['number_vmail_messages','total_day_calls','total_night_calls']].describe()

       number_vmail_messages  total_day_calls  total_night_calls
count            5000.000000      5000.000000        5000.000000
mean                7.755200       100.029400          99.919200
std                13.546393        19.831197          19.958686
min                 0.000000         0.000000           0.000000
25%                 0.000000        87.000000          87.000000
50%                 0.000000       100.000000         100.000000
75%                17.000000       113.000000         113.000000
max                52.000000       165.000000         175.000000

In [44]:
df_churn[(df_churn.number_vmail_messages > 17) & (df_churn.total_day_calls < 87) & (df_churn.total_night_calls < 87)  ]

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
35,10,72,415,1814,0,1,37,220.0,80,37.40,...,102,18.47,152.8,71,6.88,14.7,6,3.97,3,0
41,20,135,408,2906,1,1,41,173.1,85,29.43,...,107,17.33,122.2,78,5.50,14.6,15,3.94,0,1
265,49,114,510,4763,0,1,30,206.2,79,35.05,...,91,22.10,291.6,83,13.12,11.4,6,3.08,1,0
278,1,131,415,1799,0,1,25,192.7,85,32.76,...,105,19.20,254.2,59,11.44,10.9,6,2.94,2,0
294,48,96,510,827,0,1,18,172.7,86,29.36,...,113,11.34,259.5,70,11.68,9.8,3,2.65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4362,12,52,510,2726,0,1,24,229.1,86,38.95,...,124,14.34,245.4,75,11.04,14.6,2,3.94,1,0
4385,31,134,415,4426,0,1,32,224.0,75,38.08,...,103,8.29,211.6,80,9.52,10.7,5,2.89,2,0
4416,39,76,510,2693,0,1,40,177.9,85,30.24,...,95,10.14,140.5,83,6.32,10.3,1,2.78,2,0
4594,48,41,408,4686,1,1,31,278.1,86,47.28,...,103,22.79,241.5,77,10.87,11.3,4,3.05,0,0
4779,8,74,415,3114,0,1,38,176.0,84,29.92,...,103,24.50,178.2,86,8.02,14.8,5,4.00,2,0